@import "color";
@import "form";

* {
  margin: 0;
  padding: 0;
}



html {
  font-size: 10px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: $mainColor;
}

@font-face {
  font-family: optima;
  src: url(../fonts/Optima_Medium.ttf);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: optima;
}

ul {
  list-style: none;
  margin: 0;
}

.form-control:focus {
  border-color: unset;
  box-shadow: unset;
}

.custom-btn {
  border: none;
  color: #FFF;
  text-transform: capitalize;
  padding: 2.5rem 1.5rem;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &.color {
    background-color: $mainColor;
  }


}

a.custom-btn {
  text-transform: uppercase;
  display: inline-block;
  padding: 1.4rem 2rem;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: #FFF;
  border: 1px solid #FFF;
  font-family: optima;

  &:hover {
    text-decoration: none;
  }

  &.transparent {
    &:hover {
      background-color: $secondColor;
      border-color: $secondColor;
    }
  }

  &.btn-bg {
    background-color: $secondColor;
    border-color: $secondColor;

    &:hover {
      background-color: transparent;
      border-color: #FFF;
    }
  }

  &.gray {
    background-color: #A7A9AC;
    border-color: #A7A9AC;
  }
}


section {
  .inner-section {

    padding: 4rem 0 2.5rem;
    color: $textColor;
    font-size: 3rem;
  }
}

.release-widget {
  position: relative;
  height: 40rem;
  margin-bottom: 30px;
  color: #FFF;

  .position {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -2;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease-in-out;

    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }

  &__content {
    padding: 2rem;

    .custom-btn {
      padding: 1rem 2rem;
      text-transform: capitalize;
      position: absolute;
      bottom: 50px;
    }
  }

  &:hover {
    &::after {
      background-color: $secondColor;
      z-index: -1;
    }

    img {
      transform: scale(0.8);
    }

    .custom-btn {
      background-color: transparent;
      border-color: #FFF;
    }
  }

  .news-date {
    font-family: optima;
    margin-bottom: 15px;

    span {
      display: block;
      line-height: 1;
    }

    .day {
      font-size: 6rem;
    }

    .month {
      font-size: 3rem;
      margin-bottom: 10px;

    }

    .year {
      font-size: 1.6rem;

    }
  }
}
