@import '../../assets/scss/color';

article {
  margin-bottom: 25px;

  .float-img {
    float: left;
    width: 390px;
    margin-right: 3.2rem;
    margin-bottom: 2rem;

    img {
      width: 100%;
    }
  }

  h5 {
    color: $textColor;
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }

  .date {
    color: #A9AAAE;
  }
}

.attachment-item {
  background-color: #EEEEEE;
  border-color: #EBEBEB;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  margin-bottom: 3rem;
  position: relative;

  a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
  }

  &:last-child {
    margin-right: 0;
  }

  p {
    margin: 0;
    transition: all 0.3s ease-in-out;
  }


  &:hover {
    background-color: $secondColor;

    .icon {
      background-color: #EEEEEE;

      img {
        filter: brightness(0);
      }
    }

    p {
      color: #FFF;
    }
  }
}

.icon {
  background-color: $secondColor;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 29px;
  transition: all 0.3s ease-in-out;

  img {
    transition: all 0.3s ease-in-out;

  }
}

.news-widget {
  position: relative;
  height: 225px;
  overflow: hidden;

  >img,
  &:after,
  a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -2;
    transition: all 0.3s ease-in-out;

  }

  &__content {
    position: absolute;
    color: #FFF;
    background-color: rgba($color: #008795, $alpha: 0.6);
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    transition: all 0.3s ease-in-out;

    h6 {
      font-size: 3.6rem;
      margin-bottom: 1.4rem;
    }

    .icon {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &:after {
    content: "";
    z-index: -1;
    background-color: rgba($color: #000000, $alpha: 0.6);
  }

  a {
    z-index: 5;
  }

  &:hover {
    .news-widget__content {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($color: #008795, $alpha: 1);

    }

    img {
      transform: scale(0.8);
    }
  }
}


@media (max-width:991px) {
  article {
    .float-img {
      float: none;
      width: 100%;
      height: 350px;
      margin: 0 auto 2rem;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
