<app-breadcrumb [name]="article.title"></app-breadcrumb>
<section>
  <div class="container">
    <h4 class="inner-section">
      PRESS RELEASE
    </h4>
    <article>
      <div class="clearfix">
        <div class="float-img">
          <img [src]="article.urlToImage" *ngIf="article.urlToImage">
          <img src="../../assets/images/default.png" *ngIf="!article.urlToImage">
        </div>
        <h5>{{article.title}}</h5>
        <div class="date">
          {{article.day}}
          {{article.month}}
          {{article.year}}
        </div>
        <p>
          {{article.description}}
        </p>
      </div>
      <p>
        {{article.content}}
      </p>
    </article>
    <h6 class="inner-section">
      ATTACHMENTS
    </h6>
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let item of items">
        <div class="attachment-item">
          <a href="javascript:void(0);"></a>
          <div class="d-flex justify-content-between align-items-center">
            <p>
              AL Jalila Foundation.PDF
            </p>
            <div class="icon">
              <img src="../../assets/images/icons/download.svg" alt="download">
            </div>
          </div>
          <!-- /d-flex -->
        </div>
        <!-- /attachment-item -->
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->

    <h6 class="inner-section">
      YOU MAY ALSO BE INTERESTED IN
    </h6>
    <div class="row pb-5 ">
      <div class="col-xl-4 col-lg-6 mb-5" *ngFor="let item of interested">
        <div class="news-widget">
          <a href="javascript:void(0);"></a>
          <img [src]="item.photo" alt="image">
          <div class="news-widget__content">
            <h6>{{item.title}}</h6>
            <p>{{item.description}}</p>
            <div class="icon">
              <img src="../../assets/images/icons/icon-arroew.svg" alt=">">
            </div>
          </div>
        </div>
        <!-- /news-widget -->
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>
