<app-breadcrumb></app-breadcrumb>
<section>
  <div class="container">
    <h4 class="inner-section">
      PRESS RELEASE
    </h4>
    <div class="filter mb-5">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
          <div class="form-group">
            <select name="category" class="form-control" [(ngModel)]="filter.category" (change)="updateFilterNews()">
              <option selected disabled value="0">Category</option>
              <option [value]="category.value" *ngFor="let category of categories">{{category.label}}</option>
            </select>
          </div>
          <!-- /form-group -->
        </div>
        <!-- /col -->
        <div class="col-lg-8 col-md-6 col-12">
          <div class="input-group mb-3">
            <input type="Search" class="form-control" placeholder="Title" [(ngModel)]="filter.text"
              (keyup)="updateFilterNews()">
            <div class="input-group-append">
              <span class="input-group-text">
                <button (click)="updateFilterNews()">
                  <img src="../../assets/images/icons/search_white.svg" alt="search">
                </button>
              </span>
            </div>
          </div>
          <!-- /input-group-->

        </div>
        <!-- /col -->
      </div>
      <!-- /row -->
    </div>
    <!-- /filter -->
  </div>
  <!-- /container -->
</section>

<section class="releases py-5">
  <div class="container">

    <div class="row ">
      <div class="col-12" *ngIf="filterNews.length == 0">
        <div class="no-data">
          <img src="../../assets/images/empty.svg" alt="no data">
          <h4>Whoops...</h4>
          <p>We're unableto find data you're looking for</p>
        </div>
        <!-- /no-data -->
      </div>
      <div class="col-lg-3 col-md-6 col-12" *ngFor="let item of filterNews">
        <div class="release-widget">
          <!-- <a class="position"></a> -->
          <div class="release-widget__img">
            <img [src]="item.urlToImage" *ngIf="item.urlToImage">
            <img src="../../assets/images/default.png" *ngIf="!item.urlToImage">
          </div>
          <!-- /release-widget__img -->
          <div class="release-widget__content">
            <div class="news-date">
              <span class="day">
                {{item.day}}
              </span>
              <span class="month">
                {{item.month}}
              </span>
              <span class="year">
                {{item.dayName}} {{item.year}}
              </span>
            </div>
            <p>
              {{item.title}}
            </p>
            <a [routerLink]="[item.id]" class="custom-btn gray">
              Read More
            </a>
          </div>
          <!-- /release-widget__content-->
        </div>
        <!-- /release-widget -->
      </div>

      <!-- /col -->
    </div>
    <!-- /row -->

    <div class="load-more" [ngClass]="{'sr-only': hideButton}">
      <button (click)="loadMore()">
        Load More
      </button>
    </div>
    <!-- / row -->
  </div>
  <!-- /container -->

</section>
<!-- /releases -->
