@import "../../assets/scss/color";



.input-group-text {
  background-color: $textColor;
  transition: all 0.3s ease-in-out;
  padding: 0;

  button {
    background-color: transparent;
    padding: 0;
    border: none;
    padding: 0 3.5rem;
    cursor: pointer;
    height: 100%;

    &:focus {
      outline: unset;
    }
  }

  &:hover {
    background-color: $mainColor
  }
}

.load-more {
  button {
    cursor: pointer;
    font-family: optima;
    display: block;
    width: 100%;
    padding: 1.5rem;
    text-transform: uppercase;
    font-size: 2.4rem;
    border: none;
    border-radius: 0;
    background: #D9D9D9;
    color: #707070;
  }
}

.no-data {
  text-align: center;
  margin-bottom: 2rem;

  img {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    display: block;
    margin: 2rem auto;
  }

  h4 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: $textColor;
  }

  p {
    color: #c5c5c5;
    font-size: 2rem;
  }
}
