<div class="jumbotron">
  <div class=" container">
    <div class="inner d-md-flex justify-content-between">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active">{{ pageName }}</li>
      </ol>
      <!-- / breadcrumb -->
      <div class="controls">
        <ul class="d-flex justify-content-center mt-3 mt-md-0">
          <li>
            <a href="#">
              <img src="../../assets/images/icons/printer.svg" alt="print">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../../assets/images/icons/interface.svg" alt="mail">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../../assets/images/icons/symbol.svg" alt="share">
            </a>
          </li>
        </ul>
      </div>
      <!-- /controls -->
    </div>
  </div>
</div>
<!-- / jumbotron -->
