@import '../../assets/scss/color';

.jumbotron {
  background-color: #FFF;
  border-bottom: 2px solid #EBEBEB;
  padding: 1.5rem 0;
  margin-bottom: 0;

  .breadcrumb {
    padding: 0;
    margin: 0;
    background-color: transparent;

    .breadcrumb-item {
      a {
        color: $gray;
      }

      &.active {
        color: $textColor;
      }

      +.breadcrumb-item {
        &:before {
          content: ">";
          color: $textColor;
        }
      }
    }
  }

  .controls {
    li {
      margin-right: 2rem;

      &:last-child {
        margin: 0;
      }
    }
  }
}
