@import "../../../assets/scss/color";

footer {
  background-color: $gray;
  padding: 2.5rem 0;
  color: #4A4A4A;

  .footer-widget {
    h6 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }

    &__title {
      h6 {
        margin-bottom: 2rem;
      }
    }

    ul {
      margin-bottom: 1rem;

      li {
        a {
          font-size: 1.4rem;
          color: inherit;
        }
      }
    }

    .form-group {
      flex: 1;
      margin-bottom: 0;

      .form-control {
        background-color: #FFF;
        border-radius: 0;
        height: 100%;
        padding: 1rem 1.5rem;
        font-size: 1.6rem;
      }
    }

    .submit {
      .custom-btn {
        height: 100%;
        padding: 1.3rem 2rem;
      }
    }
  }
}

.copyright {
  background-color: $mainColor;
  padding: 2.5rem 0;
  color: #FFF;

  ul {
    li {
      display: inline-block;

      &:after {
        content: "|";
        margin: 0 1rem;
      }

      &:last-child {
        &:after {
          content: unset;
        }
      }

      a {
        color: inherit;
      }
    }
  }
}
