<footer class="text-center text-md-left">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-6">
        <div class="footer-widget">
          <div class="footer-widget__title">
            <h6>Who We Are</h6>
          </div>
          <!--/footer-widget__title  -->
          <ul>
            <li>
              <a href="#">
                About Us
              </a>
            </li>
            <li>
              <a href="#">
                Mission, Vission & Goals
              </a>
            </li>
            <li>
              <a href="#">
                Our Message
              </a>
            </li>
            <li>
              <a href="#">
                Board of Trustees
              </a>
            </li>
            <li>
              <a href="#">
                Board of Directors
              </a>
            </li>
            <li>
              <a href="#">
                FAQ’s
              </a>
            </li>
          </ul>
        </div>
        <!-- / footer-widget -->
      </div>
      <!-- / col -->
      <div class="col-lg-2 col-md-6">
        <div class="footer-widget">
          <div class="footer-widget__title">
            <h6>What we do</h6>
          </div>
          <!--/footer-widget__title  -->
          <ul>
            <li>
              <a href="#">
                Research
              </a>
            </li>
            <li>
              <a href="#">
                Programmes
              </a>
            </li>
            <li>
              <a href="#">
                Collaborations
              </a>
            </li>
            <li>
              <a href="#">
                in2Hc
              </a>
            </li>
          </ul>
        </div>
        <!-- / footer-widget -->
      </div>
      <!-- / col -->
      <div class="col-lg-2 col-md-6">
        <div class="footer-widget">
          <div class="footer-widget__title">
            <h6>Get Involved</h6>
          </div>
          <!--/footer-widget__title  -->
          <ul>
            <li>
              <a href="#">
                Donate
              </a>
            </li>
            <li>
              <a href="#">
                Partners
              </a>
            </li>

          </ul>
        </div>
        <!-- / footer-widget -->
      </div>
      <!-- / col -->
      <div class="col-lg-2 col-md-6">
        <div class="footer-widget">
          <div class="footer-widget__title">
            <h6>Get Involved</h6>
          </div>
          <!--/footer-widget__title  -->
          <ul>
            <li>
              <a href="#">
                Photo Gallery
              </a>
            </li>
            <li>
              <a href="#">
                Video Gallery
              </a>
            </li>
            <li>
              <a href="#">
                Social Media Hub
              </a>
            </li>
            <li>
              <a href="#">
                Events
              </a>
            </li>
          </ul>
        </div>
        <!-- / footer-widget -->
      </div>
      <!-- / col -->
      <div class="col-lg-4">
        <div class="footer-widget">
          <div class="footer-widget__title">
            <h6>Contact Us</h6>
          </div>
          <!--/footer-widget__title  -->
          <ul>
            <li>
              <a href="#">
                Contact Details
              </a>
            </li>
            <li>
              <a href="#">
                Careers
              </a>
            </li>
          </ul>
          <h6>
            Subscribe to our Newsletter
          </h6>
          <div class="d-flex">
            <div class="form-group">
              <input type="email" placeholder="Enter Your email address" class="form-control">
            </div>
            <div class="submit">
              <button class="custom-btn color" type="submit">
                Subscribe
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- / col -->
    </div>
    <!--/ row-->
  </div>
</footer>
<div class="copyright">
  <div class="container">
    <div class="d-md-flex  text-md-left text-center justify-content-between">
      <div>
        <ul>
          <li>
            <a href="#">
              Terms &amp; Conditions
            </a>
          </li>
          <li>
            <a href="#">
              Privacy Policy
            </a>
          </li>
          <li>
            <a href="#">
              User Agreement
            </a>
          </li>
          <li>
            <a href="#">
              Sitemap
            </a>
          </li>
        </ul>
      </div>
      <div>
        <p>
          Copyright 2016 LinkDev. All Rights Reserved.
        </p>
      </div>
    </div>
    <!-- /d-flex -->
  </div>
  <!--/ container  -->
</div>
<!-- /copyright -->
