<nav class="sticky-top" id="navbar">
  <div class="brand">
    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="logo">
          <a [routerLink]="['/home']" class="d-block">
          <img src="../../../assets/images/linkdevlogo.png" alt="Link Logo">
        </a>
        </div>
        <!-- /logo -->
        <div class="site-option d-flex flex-column justify-content-around">
          <ul>
            <li>
              <a href="#">
                REGISTER
              </a>
            </li>
            <li>
              <a href="#">
                LOGIN
              </a>
            </li>
          </ul>
          <ul class="lang">
            <li>
              <a href="#" class="active">
                En
              </a>
              <a href="#">
                Ar
              </a>
            </li>
            <li>
              <a href="#">
                A <span>A</span>
              </a>
            </li>
          </ul>

        </div>
        <!-- /site-option -->
      </div>
      <!-- /d-flex -->
    </div>
    <!-- /container -->
  </div>
  <!-- /brand -->
  <div class="menu sticky-top">
    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="icon-bar" (click)="toggleNavbar()">
          <span [ngClass]="{'active': toggle}"></span>
        </div>
        <ul [ngClass]="{'active': toggle}">
          <li>
            <a [routerLink]="['/home']">
              Home
            </a>
          </li>
          <li>
            <a href="#">
              Who We Are
            </a>
          </li>
          <li class="has-menu">
            <a href="#">
              What We Do
            </a>
            <ul>
              <li>
                <a href="#">
                  Example 1
                </a>
              </li>
              <li>
                <a href="#">
                  Example 1
                </a>
              </li>
              <li>
                <a href="#">
                  Example 1
                </a>
              </li>
              <li>
                <a href="#">
                  Example 1
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              Get Involved
            </a>
          </li>
          <li class="has-menu">
            <a [routerLink]="['/press-release']">
              Media Centre
            </a>
            <ul>
              <li>
                <a href="#">
                  Example 1
                </a>
              </li>
              <li>
                <a href="#">
                  Example 1
                </a>
              </li>
              <li>
                <a href="#">
                  Example 1
                </a>
              </li>
              <li>
                <a href="#">
                  Example 1
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              Contact Us
            </a>
          </li>
        </ul>
        <div class="search">
          <img src="../../../assets/images/icons/Search.svg" alt="search">
        </div>
      </div>
    </div>
    <!-- /container -->
  </div>
  <!-- /menu -->
</nav>
