@import "../../../assets/scss/color";

.brand {
  background-color: #FFF;
  padding: 3rem 0;
  transition: all 0.3s ease-in-out;

  .logo {
    img {
      transition: all 0.3s ease-in-out;

    }
  }

  .site-option {
    ul {
      font-size: 1.2rem;
      color: $textColor;

      li {
        display: inline-block;

        &:after {
          content: "|";
          margin: 0 0.5rem;
        }

        &:last-child {
          &:after {
            content: unset;
          }
        }

        a {
          color: inherit;
        }
      }

      &.lang {


        li {

          a.active {
            color: #FFF;
            background-color: $textColor;
            padding: 2px 7px;
            border-radius: 12px;
            display: inline-block;
          }

          &:last-child {
            a {
              font-size: 2rem;
            }

            span {
              font-size: 1.4rem;
            }
          }

        }
      }
    }
  }
}

.menu {
  background-color: rgba($color:$gray, $alpha: 0.8);
  padding: 2rem 0;
  font-family: optima;
  transition: all 0.3s ease-in-out;

  .icon-bar {
    display: none;

    span {
      width: 32px;
      height: 2px;
      cursor: pointer;
      position: relative;
      display: inline-block;
      background-color: $textColor;
      transition: all 0.3s ease-in-out;

      &:after,
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background-color: $textColor;
        transition: all 0.3s ease-in-out;

      }

      &:after {
        top: -8px;
      }

      &:before {
        top: 8px;
      }

      &.active {
        height: 0;

        &:after,
        &::before {
          top: 0
        }

        &:after {
          transform: rotate(45deg);
        }

        &:before {
          transform: rotate(-45deg);
        }
      }
    }
  }

  ul {
    transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transform-origin: top;

    li {
      display: inline-block;
      margin-right: 3rem;
      font-size: 1.8rem;

      &.has-menu {
        position: relative;


        &:hover {
          ul {
            transform: rotateX(0deg);
          }
        }

        ul {
          position: absolute;
          background-color: rgba($color:$gray, $alpha: 0.8);
          top: calc(100% + 2rem);
          left: 0;
          width: 165px;
          z-index: 99;
          padding: 15px;
          transition: all 0.3s ease-in-out;
          transform: rotateX(90deg);
          transform-origin: top;



          li {
            display: block;

            a {
              display: block;
              padding: 5px;
            }
          }
        }

        &:after {
          content: "";
          background: url(../../../assets/images/icons/chevron-down-outline.svg);
          width: 15px;
          height: 15px;
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          top: 50%;
          right: -16px;
          transform: translateY(-50%);
          transition: all 0.3s ease-in-out;
        }

        &.active {
          transform: translateY(-50%) rotate(180deg);
        }
      }

      &:last-child {
        margin-right: 0;
      }



      a {
        color: $textColor;
      }
    }
  }



  .search {
    cursor: pointer;
  }
}

nav {
  &.scrolled {
    .brand {
      padding: 1rem 0;

      .logo {
        img {
          transform: scale(0.7);
        }
      }
    }

    .menu {
      padding: 1rem 0;
    }
  }
}


// responsive
@media (max-width: 991px) {
  .menu {
    ul {
      li {
        margin-right: 2rem;
        font-size: 1.5rem;
      }
    }
  }
}

@media(max-width:767px) {

  .has-menu {
    &:after {
      display: none;
    }

    ul {
      width: 100% !important;
      top: 100% !important;
      background-color: rgba($color:$gray, $alpha: 1) !important;

    }
  }

  .menu {
    position: relative;

    .icon-bar {
      display: block;


    }

    ul {
      position: absolute;
      background-color: rgba($color:$gray, $alpha: 0.9);
      width: 100%;
      top: 100%;
      z-index: 999;
      left: 0;
      right: 0;
      padding: 15px;
      transform: rotateX(90deg);

      &.active {
        transform: rotateX(0);
      }

      li {
        display: block;
        text-align: center;
        margin: 0;

        a {
          display: block;
          padding: 1rem;
        }
      }
    }
  }

  .brand {
    .logo {
      img {
        width: 60%;
      }
    }
  }
}
