@import "../../assets/scss/color";

.home-slider {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../../assets/images/home-slider.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: calc(100vh - 220px);
  min-height:450px;
  .slider-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 220px);

    h1 {
      font-size: 2.4rem;
      max-width: 600px;
      color: #FFF;
      margin-bottom: 5rem;

      span {
        color: #C2F83F;
        font-size: 3rem;
      }
    }

    a {
      min-width: 160px;
      margin: 5px 7px;
    }
  }

}

.scroll-down {
  width: 34px;
  height: 55px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translatex(-50%);
  cursor: pointer;
  z-index: 2;

  a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
  }

  .mousey {
    width: 3px;
    height: 35px;
    padding: 10px 15px;
    box-sizing: content-box;
    border: 2px solid #FFF;
    border-radius: 25px;
    opacity: 0.75;

    .scroller {
      width: 3px;
      height: 10px;
      border-radius: 25%;
      background-color: transparent;
      animation: scroll 2.2s cubic-bezier(0.15, 0.41, 0.69, 0.94) infinite;
      padding: 6px 2px;
      border: 1px solid #FFF;

    }
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translate(-1px, 0);
  }

  10% {
    transform: translate(-1px, 0);
    opacity: 1;
  }

  100% {
    transform: translate(-1px, 15px);
    opacity: 0;
  }
}


.slider-arrow {
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &.prev {
      left: 25px;
    }

    &.next {
      right: 25px;
    }
  }
}

/* Owl setting */
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: block !important;
  height: 0;
  margin: 0;
}

.owl-theme .owl-nav [class*=owl-] {
  background: none;
  padding: 0;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
}


/* about
========================*/
.about {
  .section-heading {
    margin-bottom: 2rem;
  }

  .slider-arrow .arrow {

    img {
      transition: all 0.3s ease-in-out;
      filter: grayscale(1);
    }

    &:hover {
      img {
        filter: unset;
      }
    }

    &.next {
      right: -90px;
    }

    &.prev {
      left: -90px;
      transform: rotate(180deg);
    }
  }

}

.about-widget {
  min-height: 40rem;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/images/seaction-bg.png);
  background-size: cover;
  text-align: center;
  position: relative;
  color: #FFF;
  transition: all 0.3s ease-in-out;
  margin: 45px 15px;

  &:hover {
    background-position: center;
  }

  &__icon {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 9.5rem;
    height: 9.5rem;
    background-color: $mainColor;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    img {
      width: 100%;

    }
  }

  &__content {
    font-family: 'Segoe UI';

    h3 {
      padding: 7rem 0 6rem;
      font-size: 2.4rem;
      font-family: 'Segoe UI';

    }

    div {
      font-size: 2.4rem;
      margin-bottom: 1rem;
      text-transform: uppercase;

      span {
        display: block;
        font-size: 5.2rem;
        font-weight: bold;
      }
    }

    p {
      font-size: 1.8rem;
      width: 90%;
      margin: auto;
    }
  }


}

/* investment
=========================*/
.investment {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/images/investment-bg.png);
  // background-position-y: -15px;
  padding-bottom: 190px !important;
  background-size: cover;
  background-repeat: no-repeat;

  .section-heading {
    color: #FFF;
  }

  .diamond {

    width: 700px;
    height: 300px;
    position: relative;
    top: 110px;
    left: 8%;
  }

  &__widget {
    width: 150px;
    height: 150px;
    border: 2px solid #FFF;
    transform: rotate(45deg);
    color: #FFF;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    position: absolute;
    margin: 18px;

    &:nth-child(1) {
      top: 0;
      left: 0;
    }

    &:nth-child(2) {
      bottom: 0;
      left: 16.6%;
    }

    &:nth-child(3) {
      top: 0;
      left: 33.2%;
    }

    &:nth-child(4) {
      bottom: 0;
      left: 49.8%;
    }

    &:nth-child(5) {
      top: 0;
      left: 66.4%;
    }

    &:nth-child(6) {
      bottom: 0;
      left: 83%;
    }

    &:nth-child(7) {
      top: 0;
      left: 100%;
    }

    .inner {
      transform: rotate(-45deg);

      span {
        font-size: 4.8rem;
        line-height: 0;
      }

      img {
        margin-bottom: 5px;
        transform: scale(0.8);
      }
    }

    &:hover {
      background-color: $mainColor;
      border-color: $mainColor;
      cursor: pointer;
    }
  }
}

/* Seaction-heading
=========================*/
.section-heading {
  text-align: center;
  color: $textColor;

  .title {
    font-size: 3.5rem;
  }

  p {
    font-size: 2rem;
  }
}



// responsive
@media (max-width:1200px) {
  .investment {
    .diamond {
      left: 4%;
    }


  }
}

@media(max-width:991px) {
  html {
    font-size: 9px;
  }

  .home-slider .slider-arrow {
    .arrow {
      transform: translateY(-50%) scale(0.5);

      &.next {
        right: 0;
      }

      &.prev {
        left: 0;
      }
    }
  }

  .about {
    .slider-arrow {
      .arrow {
        &.next {
          right: -75px;
        }

        &.left {
          right: 75px;
        }
      }
    }
  }

  .investment {
    .diamond {
      height: 600px;
      left: 50%;
      top: 70px;
      transform: translateX(-50%);
    }

    &__widget {
      transform: translateX(-50%) rotate(45deg);

      &:nth-child(1) {
        top: 0;
        left: 50%;
      }


      &:nth-child(2) {
        top: 19%;
        left: 33.2%;
        bottom: unset;
      }

      &:nth-child(3) {
        top: 19%;
        left: 66.4%;
      }

      &:nth-child(4) {
        top: 38%;
        left: 50%;
      }

      &:nth-child(5) {
        top: 57%;
        left: 66.4%;
      }

      &:nth-child(6) {
        top: 57%;
        left: 33.2%;
      }

      &:nth-child(7) {
        left: 50%;
        top: 76%;
      }
    }

  }
}

@media(max-width:767px) {
  html {
    font-size: 8px;
  }

  .home-slider {
    h1 {
      padding: 0 5px;
    }

    .slider-arrow {
      .arrow {
        transform: scale(0.5);
        top: unset;
        bottom: 10px;

        &.next {
          left: calc(50% + 20px);
          right: unset;
        }

        &.prev {
          right: calc(50% + 20px);
          left: unset;

        }
      }
    }
  }



  .about {
    .about-widget {
      margin: 45px 0;
    }

    .slider-arrow {
      .arrow {
        position: unset;

        &.next {

          transform: rotate(180deg) translateY(27px) scale(0.7);

        }

        &.prev {
          transform: rotate(0) translateY(-27px) scale(0.7);

        }


      }
    }
  }

}

@media(max-width:576px) {
  .home-slider .slider-arrow .arrow {
    transform: scale(0.3);
  }

  .scroll-down {
    bottom: 40px;

    .mousey {
      padding: 0 10px;
    }
  }

  .investment {
    .diamond {
      height: 400px;
      top: 15px;
      transform: translateX(-52%) scale(0.8);
    }

    &__widget {
      transform: translateX(-50%) rotate(45deg) scale(0.9);

      &:nth-child(2) {
        top: 26%;
        left: 35.2%;
      }

      &:nth-child(3) {
        top: 26%;
        left: 64.4%;
      }

      &:nth-child(4) {
        top: 52%;
      }

      &:nth-child(5) {
        top: 78%;
        left: 64.4%;
      }

      &:nth-child(6) {
        top: 78%;
        left: 35.2%;
      }

      &:nth-child(7) {
        left: 50%;
        top: 104%;
      }

    }
  }
}
