<section class="home-slider">

  <div class="scroll-down">
    <a href="#about"></a>
    <div class="mousey">
      <div class="scroller"></div>
    </div>
  </div>
  <!-- <div class="slider-arrow">
    <div class="arrow next">
      <img src="../../assets/images/icons/next-arrow.svg" alt="next">
    </div>
    <div class="arrow prev">
      <img src="../../assets/images/icons/prev-arrow.svg" alt="prev">
    </div>
  </div> -->


  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of sliders">
      <ng-template carouselSlide>
        <div class="slider-content">
          <div class="slider">
            <div>

              <h1>
                <span>
                  Al Jalila Foundation
                </span>
                is focused on inspiring the next generation of Emirati Healthcare professionals in the UAE.
              </h1>
              <div>
                <a href="javascript:void(0)" class="custom-btn transparent">
                  READ MORE
                </a>
                <a href="javascript:void(0)" class="custom-btn btn-bg">
                  DONATE NOW
                </a>
              </div>
            </div>
            <!-- item -->
          </div>
          <!-- /slider -->

        </div>
        <!-- /slider-content -->
      </ng-template>
    </ng-container>
  </owl-carousel-o>



</section>
<!-- /home-slider -->

<section class="about py-5 mt-5" id="about">
  <div class="container">
    <div class="section-heading">
      <h2 class="title">
        How we have helped

      </h2>
      <p>
        See how Al Jalila Foundation have promoted change locally and to the world

      </p>
    </div>
    <!-- /section-heading -->
    <div class="row no-gutter">
      <div class="col-md-1">

      </div>
      <!-- /col -->
      <div class="col-md-10">
        <owl-carousel-o [options]="customOptions2">
          <ng-container *ngFor="let slide of sliders">
            <ng-template carouselSlide>
              <div class="about-widget">
                <div class="about-widget__icon">
                  <img src="../../assets/images/icons/about-icon.svg" alt="icon">
                </div>
                <!-- /about-widget__icon -->
                <div class="about-widget__content">
                  <h3>
                    TA’ALOUF PROGRAM
                  </h3>
                  <div>
                    <span>200</span>
                    Graduates <b>to date</b>
                  </div>
                  <p>Ta”alouf program aims to extend its reach across the Emirates addressing the needs of the country.
                  </p>
                </div>
                <!-- /about-widget__content -->
              </div>
              <!-- /about-widget -->
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
      <!-- /col -->
      <div class="col-md-1">

      </div>
      <!-- /col -->
    </div>
    <!-- /row -->



  </div>
  <!-- /container -->
</section>
<!-- /about -->

<section class="investment py-5">
  <div class="container">
    <div class="section-heading">
      <h2 class="title">
        Today’s Investments, Tomorrow’s Cures
      </h2>
      <p>
        Support the different programs we have below
      </p>
    </div>
    <!-- /section-heading -->
    <div class="diamond">
      <div class="investment__widget">
        <div class="inner">
          <img src="../../assets/images/icons/icon1.svg" alt="icon">
          <p>Ta’alouf</p>
          <span>+</span>
        </div>
      </div>
      <!-- investment__widget -->
      <div class="investment__widget">
        <div class="inner">
          <img src="../../assets/images/icons/icon2.svg" alt="icon">
          <p>Zakat</p>
          <span>+</span>
        </div>
      </div>
      <!-- investment__widget -->

      <div class="investment__widget">
        <div class="inner">
          <img src="../../assets/images/icons/icon3.svg" alt="icon">
          <p>A’awen</p>
          <span>+</span>
        </div>
      </div>
      <!-- investment__widget -->
      <div class="investment__widget">
        <div class="inner">
          <img src="../../assets/images/icons/icon4.svg" alt="icon">
          <p>Fundraising</p>
          <span>+</span>
        </div>
      </div>
      <!-- investment__widget -->
      <div class="investment__widget">
        <div class="inner">
          <img src="../../assets/images/icons/about-icon.svg" alt="icon">
          <p>Scholarships</p>
          <span>+</span>
        </div>
      </div>
      <!-- investment__widget -->
      <div class="investment__widget">
        <div class="inner">
          <img src="../../assets/images/icons/icon5.svg" alt="icon">
          <p>Omniyat Dania</p>
          <span>+</span>
        </div>
      </div>
      <!-- investment__widget -->
      <div class="investment__widget">
        <div class="inner">
          <img src="../../assets/images/icons/icon6.svg" alt="icon">
          <p>Medical Research</p>
          <span>+</span>
        </div>
      </div>
      <!-- investment__widget -->

    </div>
    <!-- /diamond -->
  </div>
  <!-- /container -->
</section>
<!-- /investment -->

<section class="releases py-5">
  <div class="container">
    <div class="section-heading mb-5">
      <p>
        Our latest

      </p>
      <h2 class="title">
        Press Releases
      </h2>

    </div>
    <!-- /section-heading -->
    <div class="row no-gutters">
      <div class="col-lg-3 col-md-6 col-12" *ngFor="let item of homeNews">
        <div class="release-widget mb-md-0">
          <a [routerLink]="['/press-release']" class="position"></a>
          <div class="release-widget__img">
            <img [src]="item.urlToImage" *ngIf="item.urlToImage">
            <img src="../../assets/images/default.png" *ngIf="!item.urlToImage">
          </div>
          <!-- /release-widget__img -->
          <div class="release-widget__content">
            <div class="news-date">
              <span class="day">
                {{item.day}}
              </span>
              <span class="month">
                {{item.month}}
              </span>
              <span class="year">
                {{item.dayName}} {{item.year}}
              </span>
            </div>
            <p>
              {{item.title}}
            </p>
            <a [routerLink]="['/press-release/' + item.id]" class="custom-btn gray">
              Read More
            </a>
          </div>
          <!-- /release-widget__content-->
        </div>
        <!-- /release-widget -->
      </div>
    </div>
    <!-- / row -->
  </div>
  <!-- /container -->

</section>
<!-- /releases -->
